.dashboard-LJK {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 1.9rem;
    position: relative;
    width: 100%;
 

    .searchinput {
        background-color: #ffffff;
        border-radius: 2em 0 0 2rem;
        border-width: thin;
        border-color: #b7b7b7;
        box-shadow: 0 0.7rem 0.4rem rgba(168, 163, 163, 0.25);
        height: 2.67rem;
        width: 28.9rem;
        font-family: Montserrat;
        padding-left: 20px;
    }

    .searchbutton {
        background-color: #00c2cb;
        border-radius: 0 2rem 2rem 0;
        box-shadow: 0 0.7rem 0.4rem rgba(168, 163, 163, 0.25);
        box-sizing: border-box;
        cursor: pointer;
        height: 2.67rem;
        padding: 0.7rem 1.3rem;
        width: 4.1rem;
        .search-img {
            height: 1.5rem;
            object-fit: cover;
            vertical-align: top;
            width: 1.5rem;
        }
    }

    .auto-group-ycw3-o5R {
      align-items: center;
      display: flex;
      flex-shrink: 0;
      height: 5.6rem;
      margin: 0rem 1.7rem 0rem 1.3rem;
      width: calc(100% - 3rem);
  
      .ea-inst-logo-soton-1-UDV {
        flex-shrink: 0;
        height: 5.6rem;
        margin-right: 18.1rem;
        object-fit: cover;
        vertical-align: top;
        width: 12.9rem;
      }
      .dashboard-P5Z {
        align-items: center;
        color: #002439;
        display: flex;
        flex-shrink: 0;
        font-family: Montserrat, 'Source Sans Pro';
        font-size: 3rem;
        font-weight: 700;
        justify-content: center;
        line-height: 1.2175;
        margin-top: 0.9rem;
        white-space: nowrap;
      }
      .auto-group-srcb-RY3 {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        flex-shrink: 0;
        height: 100%;
        padding: 1.8rem 0rem 1.3rem 19rem;
  
        .user-white-1-kKR {
          border-radius: 2rem;
          flex-shrink: 0;
          height: 2.5rem;
          margin-right: 2.3rem;
          object-fit: cover;
          vertical-align: top;
          width: 2.4rem;
          background-color: transparent;
		  color: transparent;
	      border: none;
        }
        .auto-group-q6rd-3JX {
          flex-shrink: 0;
          height: 1.2rem;
          margin-top: 0.1rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.8rem;
        }
      }
    }
    .auto-group-31gb-kij {
      align-items: flex-start;
      display: flex;
      flex-shrink: 0;
      width: 100%;
  
      .auto-group-cjm1-VRR {
        background-color: #00c2cb;
        border-radius: 0 1rem 1rem 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 23rem;
        padding-left: 1.3rem;
        padding-top: 2rem;
        width: 12rem;
      }
      .header-text{
        color: #ffffff;
        background-color: transparent;
        border-color: transparent;
        border-radius: 2rem;
        font-family: 'Montserrat';
        font-size: 1.3rem;
        font-weight: 700;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        line-height: 1.2175;
        margin: 0.1rem 6.3rem 0rem 0rem;
        white-space: nowrap;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .header-text:hover{
        color: #00c2cb;
        background-color: #ffffff;
    }
      
      .auto-group-swmh-yWw {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 64rem;
  
        .auto-group-4pj5-7d9 {
          align-items: center;
          display: flex;
          flex-shrink: 0;
          height: 3.1rem;
          margin: 0rem 1.1rem 0.5rem 0.7rem;
          width: calc(100% - 1.8rem);
  
          .auto-group-rzcp-S9d {
            align-items: center;
            box-sizing: border-box;
            display: flex;
            flex-shrink: 0;
            height: 100%;
            padding: 0.2rem 13.4rem 0.2rem 0rem;
  
            .auto-group-gh3m-M1h {
              align-items: center;
              background-color: #f3f3f3;
              border-radius: 2rem;
              box-shadow: 0 0.7rem 0.4rem rgba(0, 0, 0, 0.25);
              box-sizing: border-box;
              display: flex;
              flex-shrink: 0;
              margin: 0rem 1.7rem 0.3rem 0rem;
              padding-left: 2rem;
  
              .enter-any-details-of-a-user-RpB {
                color: rgba(84, 84, 84, 0.3000000119);
                display: flex;
                flex-shrink: 0;
                font-family: Montserrat, 'Source Sans Pro';
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.2175;
                margin: 0.1rem 14rem 0rem 0rem;
                white-space: nowrap;
              }
              .auto-group-zmjx-WKq {
                flex-shrink: 0;
                height: 2.2rem;
                object-fit: contain;
                position: relative;
                vertical-align: top;
                width: 4.1rem;
              }
            }
            .group-25-BRy {
              flex-shrink: 0;
              height: 2rem;
              margin-bottom: 0.7rem;
              object-fit: contain;
              position: relative;
              vertical-align: top;
              width: 2.2rem;
            }
          }
          .group-10-7aX {
            border-radius: 2rem;
            flex-shrink: 0;
            height: 100%;
            position: relative;
            width: 11.9rem;
  
            .rectangle-28-frw {
              background: linear-gradient(90deg, #002439 0%, #88e2e6 0.01%, #002439 0.02%, #00c2cb 100%);
              border-radius: 2rem;
              height: 3.1rem;
              left: 0.4rem;
              position: absolute;
              top: 0;
              width: 11.5rem;
            }
            .register-new-user-LCP {
              align-items: center;
              color: #ffffff;
              display: flex;
              font-family: Montserrat, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 700;
              height: 1.3rem;
              justify-content: center;
              left: 1.1rem;
              line-height: 1.2175;
              position: absolute;
              top: 0.9rem;
              white-space: nowrap;
              width: 9.7rem;
            }
          }
        }
        .image-15-Lbh {
          flex-shrink: 0;
          height: 32rem;
          object-fit: cover;
          vertical-align: top;
          width: 64rem;
        }
      }
    }
  }

  /* Select the Dashboard link and set it to be hovered by default */
/* .nav-item:nth-child(1) a {
    background-color: #f0f0f0; /* Add your desired hover styles here */
    /* color: #333; Text color */
  /* } */
  
  /* Keep the Dashboard link hovered when other buttons are clicked */
  /* .nav-item a:hover { */
    /* background-color: #f0f0f0; Add your desired hover styles here */
    /* color: #333; Text color */
  /* } */